<html>
  <head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <title>Transforming Enemy Images</title>
    <style type="text/css">
      body, td{font-family:arial,sans-serif;font-size:80%} 
	  a:link, a:active, a:visited{color:#0000CC} img{border:0} 
	  pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; width: 800px; overflow: auto;}
    </style
  </head>
  <body >
    <table width=100% cellpadding=0 cellspacing=0 border=0>
      <tr>
        <td colspan=2>
          <table width=100% cellpadding=12 cellspacing=0 border=0>
            <tr>
              <td>
                <font size=-1>
                  <div lang="EN-US" link="blue" vlink="purple">
                    <div>
                      <div >
                        <h1><a username="122778c17c5959dd__Toc187382809"><b><font size="5" face="Comic Sans MS">
						<span style="font-size:20.0pt">Transforming Enemy Images</span></font></b></a></h1>
                      </div>
                      <p><b><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt">KEYS: </span></font></b></p>

                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>a.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">      </span></font></span></span></font>Every
                        human action, however abhorrent to us, is an expression of feelings and needs
                        just like our own.</p>
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>b.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">     
                                </span></font></span></span></font>Our own reactions to others&#39;
                        actions are also expressions of feelings and needs.</p>
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>c.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">     
                                </span></font></span></span></font><font size="2"><span style="font-size:9.5pt">We tend to have “enemy” images of others
                            when our needs are critically unmet <i><span style="font-style:italic">and</span></i>
                            when we don’t see the human expression in the other person’s
                            actions.</span></font></p>

                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>d.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">     
                                </span></font></span></span></font>Connecting to another person with
                        empathy humanizes them to us and makes it more possible to create connection to
                        meet both our needs.</p>
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>1.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">      </span></font></span></span></font>Identify
                        a person whose behavior you would like to see change, and about whom you have
                        strong judgments. Describe the situation in 40 words or less. (You can also
                        choose a group if you want.)</p>
						<br />
						<br />
						<br />
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>2.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">     
                                </span></font></span></span></font>Write down your judgments of this
                        person.</p>
						<br />
						<br />
						<br />
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>3.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">     
                                </span></font></span></span></font>Translate your judgments into
                        observations, feelings, and needs.</p>
						<br />
						<br />
						<br />
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>4.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot;Times New Roman&quot;">     
                                </span></font></span></span></font>Think of your observation of the
                        person’s behavior, and write down three guesses as to what might be the
                        feelings and needs motivating this behavior.</p>
                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt">
					  &nbsp; &nbsp;  
					  a. Is this person feeling ___________________ because
                            they need ___________________ ?</span></font></p>

                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt">
					  &nbsp; &nbsp;  
					  b. Is this person feeling ___________________ because
                            they need ___________________ ?</span></font></p>

                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt">
					  &nbsp; &nbsp; 
					  c. Is this person feeling ___________________ because
                            they need ___________________ ?</span></font></p>

                      <p><font size="2" face="Comic Sans MS"><span style="font-size:10.0pt"><span>5.<font size="1" face="Times New Roman"><span style="font:7.0pt &quot; Times New Roman&quot;">     
                                </span></font></span></span></font>Think of three requests you might
                        make of this person coming out of an intention of meeting both your needs and
                        theirs.</p>
						<br />
						<br />
						<br />
						<br />
                    </div>
                  </div>
                </font>
          </table>
    </table>
  </body>

</html>
