<h1>Contact</h1>
<p>
  You can contact me at <br /><br />
  Dan_Steinicke_AT_Gmail.com <br /><br />
  by changing it as follows: <br />
<ul>
  <li>remove all underscores</li>
  <li>replace 'AT' with @ </li>
  <li>use only lowercase </li>
</ul>