<% for choice in question.answer_choices.split('|') -%>
  <div class=<%= button_arrangement(question) %>>
    <% selected = '' %>
    <%= radio_button(@answer, :post, choice,
      :id=>"#{choice}#{question.id}",
      :name=>"answer[answer_to_question_#{question.id}]",
      :checked=>selected ) %>
    <%= "<label for=\"#{choice}#{question.id}\" class=\"choice\">#{choice}</label>" %>
  </div>
<% end -%>