
<h1> Welcome to Web Poll</h1>
<div class="welcome">
  <p>
    Create online questionnaires or polls, quickly, easily and for free.
  </p>
  <p>
    Login if you already have an account or click create account to create one.
  </p>
  <br />
  <fieldset>
    <legend>Login</legend>
    <%= render :partial=>'user_sessions/login' %>
  </fieldset>
  <div id="new_account">
    <%= link_to 'create free account', :controller=>'users',
      :action=>'new' %>
  </div>
</div>